body {
    padding-left: 50px;
    font-family: Sans-Serif;
}

.hidden {
    display: hidden;
}

.tooltip {
    position: absolute;
    background-color: bisque;
    padding: 0.5em;
    border-radius: 0.5em;
    opacity: 0;
}

.viz {
    margin: 1em 0;
    overflow: visible;
}

.control-bar {
    display: flex;
    margin: 1em 0;
}

.control-bar > div {
    margin-right: 6em;
}

h3 {
    margin: 0;
}

.row {
    display: flex;
}

.inner-row {
    display: flex;
    align-items: center;
}

.column > div {
    margin-bottom: 1em;
}

.no-margin {
    margin: 0;
}

.top-right {
    text-align: left;
    margin-left: calc(50% + 1.5em);
}

#animation-slider {
    width: 90%;
}

h2 {
    margin: 0.25em 0 0.25em 0;
}

.container {
    display: flex;
    justify-content: center;
    margin: 2em;
    overflow: hidden;
    padding-top: 2em;
}

a {
    display: block;
    padding-top: 6em;
}

.column, .row {
    width: 100%;
    align-items: center;
    justify-content: center;
}

#slider-container {
    width: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#labels {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    width: 100%;
}